body {
  height: 100vh;
  background-color: whitesmoke;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  margin-bottom: 50px;
}

section {
  width: 50%;
  margin: 0;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.frame {
  width: 48%;
  position: relative;
  margin-bottom: 20px;
}

.frame:first-child .frame__big {
  background-color: tomato;
}

.frame:nth-child(2) .frame__big {
  background-color: teal;
}

.frame:nth-child(3) .frame__big {
  background-color: burlywood;
}

.frame:last-child .frame__big {
  background-color: thistle;
}

.frame__big {
  height: 300px;
  border: 5px solid white;
}

.frame__small {
  position: absolute;
  width: 100%;
  background-color: white;
  top: 20px;
  padding: 0px 10px;
  box-sizing: border-box;
}
